---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About Us'>
  <h1>About Us</h1>
</Layout>




// company profile
// autorizacion de las compañias de autos
// programa de distribucion
// cultura corporativa