---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import EnergySection from '../components/EnergySection.astro';
import ChargingSection from '../components/ChargingSection.astro';
import DiscoverSection from '../components/DiscoverSection.astro';
---

<Layout title="Web Page">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth ">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChargeSection />
		</div>
		<div class="snap-center">
			<EnergySection />
		</div>
		<div class="snap-center">
			<ChargingSection />
		</div>
		<div class="snap-center">
			<DiscoverSection />
		</div>
	</main>
</Layout>

