<section 
    class=" landing-section h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
>
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-5xl font-medium" >Vehicles</h2>
            <p class="text-white text-sm" >EV Cars</p>
        </header>
        <footer class=" flex flex-col flex-grow justify-end pb-20">
            <div>
                <a class="text-white border-[3px] border-white rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black backdrop-blur-sm" href="#" >
                    See more vehicles
                </a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-full">
        <img class="h-full w-full object-cover object-center" src="./public/tesla.jpg"> 
    </div>
</section>
