---
import Section from "./Section.astro";
---

<section 
    class=" landing-section h-screen w-screen text-center relative overflow-hidden"
    data-header-color="black"
>
    <Section title="More About Us" subtitle="Focused on improving the world" color="black">
        <div slot="footer">
            <a class="text-white border-[3px] border-white rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black backdrop-blur-sm" href="#" >
                See more vehicles
            </a>
        </div>
        <img slot="background" class="h-full w-full object-cover object-center" src="./public/business.jpg"> 
    </Section>
</section>





